  <div class="row container-fluid align-items-center">
    <div class="col text-centre">
      <div class="d-flex justify-content-center align-items-center flex-column">
        <a (click)= "dataAccess()">
          <img src="assets/images/dataAccess.png" width="200" height="200">
        </a>
        <a class="nav-link custom-text-color mt-3 styleR" >
          Data Access
        </a>
      </div>
    </div>
    <div class="col text-centre">
      <div class="d-flex justify-content-center align-items-center flex-column">
        <a (click)= "userAccess()">
          <img src="assets/images/userAccess.png" width="200" height="200">
        </a>
        <a class="nav-link custom-text-color mt-3 styleR">
          User Access
        </a>
      </div>
    </div>
  </div>
  <div style="height: 10%;"></div>

  
