.footer-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hotpink;
    color: rgb(10, 10, 126);
    text-align: center;
}
 
.footer-text>p {
    padding: 10px;
    text-align: center;
    margin: 0 50px;
}
 
body {
    height: 100vh;
    margin: 5px;
 
}